body {
  margin: 0;
  padding: 0;
  background-image: url("./images/wood.jpg");
}

#feedusername {
  border-bottom: 2px dotted purple;
}

#feedusername:hover {
  cursor: pointer;
  border-bottom: 4px solid purple;
}

#clearUser{
  float: right;
  color: magenta;
  cursor: pointer;
}